/* font used lato and Roboto */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

/* main color that will be used */
/* color1: #5603AD violet */
/* color2: #8367C7 ube */
/* color3: #99D19C eton blue */
/* color4: #79C7C5 pearl aqua */
/* color5: #ADE1E5 powder blue */

* {
  margin:0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(199, 185, 212, 0.466);
}
.container {
  margin: 15px auto 0 auto;
  padding: 20px;
  width: max-content;
  height: max-content;
  background-color: #ADE1E5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.5s all ease;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}
/* start screen start */
.start-screen-container {
  display: block;
}
.start-banner-container {
  margin: 10px auto 10px auto;
  padding: 10px;
  width: 80%;
  height: max-content;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}
.start-banner-text {
  margin: 0 auto 0 auto;
  padding: 0;
  color: #000000;
  width: max-content;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}
.start-button-container {
  margin: 30px auto 0 auto;
  width: 80%;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-button {
  width: max-content;
  height: max-content;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #8367C7;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  transition: 0.3s all ease;
}
.start-button:hover {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}
/* start screen end */

/* input player start */
.input-player-screen {
  display: none;
}
.player-banner {
  margin: 0 auto 20px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: max-content;
  height: 150px;
  border-radius: 5px;
  background-color: #99D19C;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}
.player-banner-text {
  margin: 50px auto 0 auto;
  padding: 55px 0 0 0;
  color: #fff;
  width: max-content;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.input-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-one-name,
.player-two-name {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #79C7C5;
  width: max-content;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}
.player-one-label,
.player-two-label {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #fff;
  width: max-content;
  margin: 10px auto 5px auto;
  text-transform: uppercase;
  font-weight: bold;
}
.player-one-input,
.player-two-input {
  margin: 0 20px 10px 20px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 20px;
  outline: none;
  font-size: 1.2rem;
}
.play-button-container {
  display: flex;
  justify-content: center;
}
.play-button {
  margin: 20px auto 0 auto;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  color: #fff;
  background-color: #3ebd45;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}
.add-opacity {
  opacity: 0.5;
}
/* input player end */

/* game-screen start */
.game-screen {
  /* display should be flex */
  display: none;
  flex-direction: column;
}
.player-section {
  display: flex;
  margin: 10px 20px 10px 20px;
  justify-content: space-between;
  z-index: 99;
}
.game-player-one,
.game-player-two {
  width: max-content;
  height: max-content;
  padding: 5px 15px 5px 15px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #99D19C;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}
.player-name {
  text-transform: uppercase;
  margin: 10px 0 0 0;
  font-weight: bold;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #fff;
}
.player-mark {
  text-transform: uppercase;
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #fff;
}
.game-board {
  width: 456px;
  height: 456px;
  margin: 0 auto 0 auto;
  border-radius: 10px;
}
.block-container {
  width: 462px;
  height: 462px;
  display: flex;
  flex-wrap: wrap;
}
.block-part {
  width: 150px;
  height: 150px;
  margin: 1px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(90, 163, 161);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  transition: 0.25s all ease;
  /* font for mark */
  color: #fff;
  font-size: 12rem;
  line-height: 6.5rem;
  text-align: center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.block-part:hover {
  opacity: 0.75;
}
/* game-screen end */
/* no selectable text */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}